*.mlpackage/**/*.bin filter=lfs diff=lfs merge=lfs -text
*.mlpackage/**/weight.bin filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
*.usdz filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
*.riv filter=lfs diff=lfs merge=lfs -text
*.mlmodel filter=lfs diff=lfs merge=lfs -text
*.mlpackage/**/weight* filter=lfs diff=lfs merge=lfs -text
*.mlmodelc/**/weight.bin filter=lfs diff=lfs merge=lfs -text
*.mlmodelc/**/*.bin filter=lfs diff=lfs merge=lfs -text
*.mlmodelc/**/*.mil filter=lfs diff=lfs merge=lfs -text
HappySpeech/Resources/Models/Whisper/whisper-small/**/*.bin filter=lfs diff=lfs merge=lfs -text
