<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>HappySpeech</string>
	<key>CFBundleDisplayName</key>
	<string>HappySpeech</string>
	<key>CFBundleIdentifier</key>
	<string>ru.happyspeech.app</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Приложению нужен микрофон для записи речи ребёнка.</string>
	<key>NSCameraUsageDescription</key>
	<string>Приложению нужна камера для AR-упражнений артикуляции.</string>
	<key>NSFaceIDUsageDescription</key>
	<string>Face ID используется для быстрой аутентификации родителя.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
	</array>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
	</dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>CFBundleLocalizations</key>
	<array>
		<string>ru</string>
		<string>en</string>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>ru</string>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>LaunchBackground</string>
	</dict>
</dict>
</plist>
