<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>HappySpeech</string>
	<key>CFBundleDisplayName</key>
	<string>HappySpeech</string>
	<key>CFBundleIdentifier</key>
	<string>ru.happyspeech.app</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>HappySpeech использует микрофон для распознавания произношения и логопедических упражнений</string>
	<key>NSCameraUsageDescription</key>
	<string>HappySpeech использует камеру для AR-упражнений артикуляции и мимической гимнастики</string>
	<key>NSFaceIDUsageDescription</key>
	<string>HappySpeech может использовать Face ID для быстрого входа родителей</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>HappySpeech использует распознавание речи для оценки произношения</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>remote-notification</string>
	</array>
	<key>MinimumOSVersion</key>
	<string>17.0</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
	</dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>CFBundleLocalizations</key>
	<array>
		<string>ru</string>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>ru</string>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>LaunchBackground</string>
	</dict>
</dict>
</plist>
